  .product-rules-table::-webkit-scrollbar {
    height: 5px;
}

.product-rules-table::-webkit-scrollbar-thumb{
    height: 5px;
    background-color: #d0d0d0;
    border-radius: 10px;
}

.product-rules-table::-webkit-scrollbar-track {
    width: 5px;
    background-color: #f1f1f1;
    border-radius: 10px;
}